.home {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  .category-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__all {
      font-size: 14px;
      text-decoration: underline;
    }
  }

  .article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }
}